.calculator{
    height: 650px;
    width: 450px;
    background-color: rgb(201 187 210);
    margin-left: 570px;
    margin-top: 45px;
    border: 3px solid #9961b1ad;
    border-radius: 10px;
}
#screen{
    height: 60px;
    width:80%;
    margin-top: 25px;
    margin-left: 36px;
    border: 5px solid #9961b1ad;
    border-radius: 10px;
    pointer-events: none;
    font-weight: bold;
    font-size: 20px;
}

.btn{
    height: 60px;
    width: 60px;
    border: 2px solid #9961b1ad;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 45px;
    font-weight: bold;
}

.row{
    margin-left: 6px;
}

.clr{
    height: 60px;
    width: 185px;
    border: 2px solid #9961b1ad;
    border-radius: 10px;
    margin-left: 125px;
    margin-top: 45px;
    font-weight: bold;
}

.btn:hover{
    background-color: #a394b0;
}

.clr:hover{
    background-color: #a394b0;
}